@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;800&family=IBM+Plex+Serif:wght@300;400;500;700;800&display=swap');
* {
margin: 0;
padding: 0;
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'IBM Plex Serif', serif;
font-weight: 500;
}